@model db_query_v1._0._0._1.Models.UpgradeViewModel
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Upgrade Plan";
    var user = SignInManager.IsSignedIn(User) ? await UserManager.GetUserAsync(User) : null;
}

<link rel="stylesheet" href="~/css/upgrade.css" />


<div class="auth-bg hero-full">

    @if (user != null)
    {
        <div class="dropdown user-avatar-topright">
            <a href="#" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://ui-avatars.com/api/?name=@user.FirstName+@user.LastName&background=0D8ABC&color=fff"
                     alt="Avatar"
                     class="user-avatar" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="@Url.Action("Settings","Account")">Settings</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Upgrade","Account")">Upgrade Plan</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                    <form asp-controller="Account" asp-action="Logout" method="post" class="m-0">
                        <button type="submit" class="dropdown-item">Log out</button>
                    </form>
                </li>
            </ul>
        </div>
    }


    <div class="auth-card">
        <h3>Upgrade Your Plan</h3>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }

        <form asp-action="Upgrade" method="post" novalidate>
            @Html.AntiForgeryToken()

            <div class="form-floating mb-3">
                <input asp-for="CurrentPlan" class="form-control" readonly placeholder="Current Plan" />
                <label asp-for="CurrentPlan"></label>
            </div>

            <div class="form-floating mb-4">
                <select asp-for="SelectedPlan"
                        asp-items="new SelectList(Model.AvailablePlans)"
                        class="form-select">
                    <option value="">-- Select a Plan --</option>
                </select>
                <label asp-for="SelectedPlan"></label>
                <span asp-validation-for="SelectedPlan" class="text-danger small"></span>
            </div>

            <button type="submit" class="btn btn-success w-100 py-2 rounded-pill">
                Upgrade
            </button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
